venv
env
.env
__pycache__/
*.pyc
.venv
.idea/
.DS_Store
sqlite.db
migrations/
instance/
*.log
*.sqlite3
*.pot
*.mo
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.cover
.coverage
htmlcov/
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover